<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand" href="http://localhost:3000/upravnik/1" style="margin: 0px;">INFO ZGRADA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/upravnik/1">Početna </a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;">  |  </span>
            </li>

            <li class="nav-item active" >
                <a class="nav-link" href="http://localhost:3000/racuni">Računi</a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;" >  |  </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/stanari">Stanari</a>
            </li>
            <li class="nav-item">
                <span style="color: azure; margin: 0px 10px;" >  |  </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upravnik_obavestenja">Obaveštenja</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0 justify-content-center">

            <a href="http://localhost:3000/" class="btn btn-info btn-lg" style="width: 136.672px;background-color:#005b7f;border-color:gray">
                <span class="glyphicon glyphicon-log-out"></span> Odjavi se
            </a>

        </form>

    </div>
</nav>
<div class="container">
    <form action="/racun_struja/prikaz" autocomplete="on">
        <div class="row justify-content-center my-4">
            <h4>Morate uneti datum: </h4><input type="text" id="datum"  name="datum" placeholder="Unesite datum u formatu: dd/mm/yy" style="margin-left: 20px; width: 350px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)" >
            <input type="submit" value="Potvrdi" class="racuni_slanje">
        </div>

    </form>
    <div class="row justify-content-center my-5">
        <table class="table table-dark  table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">Vrednost u kWh</th>
                <th scope="col">Vrednost u dinarima</th>
                <th scope="col">Datum</th>
                <th scope="col">Akcija</th>
            </tr>
            </thead>
            <% data.forEach(function(x) { %>
            <tbody>
            <tr>
                <td><%=x.vrednost_kwh%></td>
                <td><%=x.vrednost_din%></td>
                <td><%=x.datum%></td>
                <td><a href="/racun_struja/izmeni/<%=x.id%>" ><i class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;<a href="/racun_stuja/izbrisi/<%=x.id%>" ><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="row justify-content-center">
        <form action="/proslediracun" method="post">
            <table class="table d-inline table-responsive-sm" style="font-size: 19px; text-align: right; vertical-align: middle">

                <tr>
                    <th>
                        <h3>Trenutni broj stanara u zgradi:</h3>
                    </th>
                    <td style="text-align: center">
                        <h3><input type="text" value="<%=x.BROJ_STANARA%>"  id="broj_stanara" name="broj_stanara" readonly="readonly" style="margin-left: 20px; width: 200px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)"></h3>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Ukupna vrednost u kwh:</h3>
                    </th>
                    <td style="text-align: center">
                        <h3><input type="text" value="<%=x.vrednost_kwh%>"  name="u_vrednost_kwh" readonly="readonly" style="margin-left: 20px; width: 200px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)"></h3>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Vrednost u kwh po članu: </h3>
                    </th>
                    <td style="text-align: center">
                        <h3><input type="text" value="<%=((x.vrednost_kwh)/(x.BROJ_STANARA)).toFixed(2)%>" name="p_vrednost_kwh" readonly="readonly" style="margin-left: 20px; width: 200px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)"></h3>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h3>Ukupna vrednost u dinarima:</h3>
                    </th>
                    <td style="text-align: center">
                        <h3><input type="text" value="<%=(x.vrednost_din)%>"  name="u_vrednost_din" readonly="readonly" style="margin-left: 20px; width: 200px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)"></h3>
                    </td>
                </tr>

                <th>
                    <h3>Vrednost u dinarima po članu:</h3>
                </th>
                <td style="text-align: center">
                    <h3><input type="text" value="<%=((x.vrednost_din)/(x.BROJ_STANARA)).toFixed(2)%>"  name="p_vrednost_din" readonly="readonly" style="margin-left: 20px; width: 200px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)"></h3>
                </td>
                </tr>
                <tr>

                    <th>
                        <h3>Datum:</h3>
                    </th>
                    <td style="text-align: center">
                        <h3><input type="text" value="<%=x.datum%>"  name="datum" readonly="readonly" style="margin-left: 20px; width: 200px; border-radius: 5px; padding: 7px; border-color:rgb(0, 91, 127)"></h3>
                    </td>
                </tr>

                <tr>
                    <th>
                        <input type="submit"  value="Pošalji račun stanarima" class="racuni_slanje" style="margin-top: 20px">
                    </th>
                    <th>
                        <a href="/racuni"><input type="button" class="racuni_slanje" value="Vrati se na unos" style="margin-top: 20px"></a>
                    </th>

                </tr>

            </table>
            <% }) %>
        </form>
    </div>




</div>
<script type="text/javascript" src="/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>
</html>


